services:
  blog:
    build: .
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    ports:
      - "4321:4321"
    environment:
      - NODE_ENV=development

volumes:
  node_modules:
