/*
   original: https://github.com/pages-themes/hacker
*/

/* Dark theme colors (original) */
$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$conifer: #b5e853;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;

/* Light theme colors */
$light-background: #f1f3f5;
$light-text: #1f2328;
$light-green-accent: #2f7a1f;
$light-button-bg: #f8f9fa;
$light-link: #0550ae;
$light-link-visited: #6639ba;
$light-header-secondary: #57606a;
$light-code-bg: #eef2f6;
$light-border: #d0d7de;
$light-code-text: #24292f;
$light-code-inline: #0a3069;
$light-blockquote: #424a53;
$light-comment: #6e7781;
$light-keyword: #cf222e;
$light-tag: #116329;
$light-error: #b31d28;
$light-error-bg: #ffebe9;
